.ant-picker {
    border: none;
    padding: 0;
    background-color: transparent;
}

.ant-picker-input {
    background: #ffffff;
    border: 1.5px solid #d4d4d7;
    border-radius: 8px;

    input {
        padding: 8px 16px 8px 36px;
        width: 147px;
        height: 44px;
    }

    &::before {
        position: absolute;
        content: url(/src/assets/images/calendar.svg);
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        line-height: 0;
    }
}

.ant-picker-range.ant-picker-focused .ant-picker-active-bar {
    opacity: 0;
}

.ant-picker-focused {
    box-shadow: none;
}
