.wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
}

.content-left {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;

    &__wrap {
        width: 400px;
        margin: 82px auto 0;
    }
    .input {
        border-width: 1.5px;
        border-radius: 8px;
        padding: 8.5px 12px;
        font-size: 1.8rem;
        font-weight: 400;
    }
}

.logo {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 102px;
}

.title {
    font-size: 2.2rem;
    font-weight: 700;
}

.content {
    margin: 16px 0 4px;
    font-size: 1.8rem;
    font-weight: 400;
}
.error-message {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 24px;
    color: var(--red-color);
    margin-top: 8px;
    text-align: left;
}
.wrap-button {
    gap: 24px;
    margin-top: 16px;
}

body .btn-cancel {
    width: 162px;
}

body .btn-continue {
    width: 162px;
}

// CSS content right

.content-right {
    width: 848px;
    margin-left: 43px;
}
