.wrapper {
    position: relative;
    background: var(--white-color);
    border-radius: 8px;
}

.text-box {
    width: 100%;
    height: 44px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: 11px 40px 11px 12px;
    border: 1.5px solid var(--gray-100);
    caret-color: var(--orange-300);
    border-radius: 8px;
    outline: none;
    transition: all linear 0.3s;

    &:focus {
        border-color: var(--orange-300);
    }
}
.icon {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primary);
    pointer-events: none;
}
